body {
  font-family: sans-serif;
  font-size: 10pt;
}

p {
  margin: 0pt;
}

table.items {
  border: 0.1mm solid #0e0a0a;
}
*{color: black}
td {
  vertical-align: top;
}

.items td {
  border-left: 0.1mm solid #1f1919;
  border-right: 0.1mm solid #2a2020;
}

table thead td {
  text-align: center;
  border: 0.1mm solid #2a1e1e;
}

.items td.blanktotal {
  background-color: #0e0a0a;
  border: 0.1mm solid #1f1919;
  background-color: #2a2020;
  border: 0mm none #0e0c0c;
  border-top: 0.1mm solid #0e1011;
  border-right: 0.1mm solid #090c0c;
}

.items td.totals {
  text-align: right;
  border: 0.1mm solid #161a1a;
}

.items td.cost {
  text-align: center;
}
